<h2><%= @recipe.title %></h2>
<img src=<%= @recipe.photo.url%> alt="">
<% if @recipe.tags %>
  <% @recipe.tags.each do |tag| %>
    <p><%= tag.name %></p>
  <% end %>
<% end  %>
<%= markdown(@recipe.description) %>
